div.col-sm-6.col-sm-offset-3
    h1 <span class='fa fa-user'></span> #{name}
    form(method='POST' action='/trades/new')
        div.form-group
            label(for='imgUrl') Image URL:
            input(type='text', placeholder='Image URL', name='imgUrl').form-control#imgUrl
        div.form-group
            label(for='shoeBrand') Shoe Brand:
            input(type='text', placeholder='Shoe Brand', name='shoeBrand').form-control#shoeBrand
        div.form-group
            label(for='shoeModel') Shoe Model:
            input(type='text', placeholder='Shoe Model', name='shoeModel').form-control#shoeModel
        div.form-group
            label(for='gender') Gender:
            select(name='gender').form-control#gender
                option(value='Men' selected='true') Men
                option(value='Women') Women
                option(value='Unisex') Unisex
        div.form-group
            label(for='shoeSize') Shoe Size:
            select(name='shoeSize').form-control#shoeSize
                option(value= '4') 4
                option(value= '4.5') 4.5
                option(value= '5') 5
                option(value= '5.5') 5.5
                option(value= '6') 6
                option(value= '6.5') 6.5
                option(value= '7') 7
                option(value= '7.5') 7.5
                option(value= '8') 8
                option(value= '8.5') 8.5
                option(value= '9' selected='true') 9
                option(value= '9.5') 9.5
                option(value= '10') 10
                option(value= '10.5') 10.5
                option(value= '11') 11
                option(value= '11.5') 11.5
                option(value= '12') 12
                option(value= '12.5') 12.5
                option(value= '13') 13
                option(value= '13.5') 13.5
                option(value= '14') 14
                option(value= '14.5') 14.5
                option(value= '15') 15
                option(value= '15.5') 15.5
                option(value= '16') 16
                option(value= '16.5') 16.5
                option(value= '17') 17
                option(value= '17.5') 17.5
                option(value= '18') 18
                option(value= '18.5') 18.5
                option(value= '19') 19
                option(value= '19.5') 19.5
                option(value= '20') 20
                option(value= 'OTHER') Other
        div.form-group
            label(for='color') Color:
            select(name='color').form-control#color
                option(value= 'No Color', selected=true) No Color
                option(value= 'Black') Black
                option(value= 'Blue') Blue
                option(value= 'Brown') Brown
                option(value= 'Gold') Gold
                option(value= 'Gray') Gray
                option(value= 'Green') Green
                option(value= 'Ivory/Cream') Ivory/Cream
                option(value= 'Multi-Colored') Multi
                option(value= 'Orange') Orange
                option(value= 'Pink') Pink
                option(value= 'Purple') Purple
                option(value= 'Red') Red
                option(value= 'Silver') Silver
                option(value= 'Ten/Beige') Tan/Beige
                option(value= 'White') White
                option(value= 'Yellow') Yellow
        div.form-group
            label(for='amputee') Foot:
            select(name='amputee').form-control#amputee
                option(value= 'Right', selected=true) Right
                option(value= 'Left') Left
                option(value= 'Both') Both
        div.form-group
            label(for='laceType') Lace Type:
            select(name='laceType').form-control#laceType
                option(value= 'Laces', selected=true) Laces
                option(value= 'Velcro') Hook and Loop (Velcro)
                option(value= 'Elastic') Elastic
                option(value= 'Strap') Strap
                option(value= 'Clutch Real') Clutch Real
                option(value= 'Other') Other
        div.form-group
            label(for='desc') Description:
            textarea(rows='3' style='height: 100px; resize: vertical;' name='desc').form-control#desc
        div.form-group
            label(for='quality') Quality:
            select(name='quality').form-control#quality
                option(value= 'New', selected=true) New
                option(value= 'Mint') Mint
                option(value= 'Good') Good
                option(value= 'Fair') Fair
                option(value= 'Poor') Poor
        div
            button(type='submit').btn.btn-warning.btn-lg Create Trade
