div.row
    div.col-sm-6
        div.panel.panel-primary
            div.panel-heading
                h3.panel-title About HalfSwap
            div.panel-body
                p Tragically, amputees often can’t afford costly prosthetics. However, they can afford shoes! Since shoe companies do not sell single shoes, they are forced to buy a pair. The shoe they cannot use often sits in their closet, unworn and unused. That is where HalfSwap comes in. Halfswap is a trading website where users can trade their unused shoe with another user. Say a right leg amputee and a left leg amputee wear a size 9 shoe. They can trade the other half of their pair, benefiting both users.
                p If you are new to our website, take a look around! You can browse the selections. If you wish to create or request a trade, click <a href='/user'>here</a> to create an account, or to login. 
                p While the site is in beta, shipping labels are free, but they don't do anything. Happy swapping!
                cite Copyright© Created by Dan Christensen 2018
    div.col-sm-6
        div.panel.panel-primary
            div.panel-heading
                h3.panel-title New Trades
            div.panel-body
                table.table.table-striped.table-hover.table-danger
                    thead
                        tr
                            th Brand
                            th Model
                            th Size
                            th Side
                            th Gender
                            th Date
                    tbody
                    each trade in allTrades
                        tr(data-href='/trades/view/' + trade._id).clickable-row
                            td #{trade.shoeBrand}
                            td #{trade.shoeModel}
                            td #{trade.shoeSize}
                            td #{trade.amputee}
                            td #{trade.gender}
                            td #{trade.date}
